<div class='page-description'>
    <div class='description'>
        <h1 class='description__h1'>{{DESCRIPTION_H1}}</h1>
        <p class='description__p'>{{DESCRIPTION_ONE}}</p>
        <p class='description__p'>{{DESCRIPTION_TWO}}</p>
    </div>
</div>
