.page-description {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}

.description {
    padding-left: 115px;
    padding-right: 115px;
    margin-top: 40px;
}

.description__h1 {
    font-size: 2rem;
    color: var(---color-text-primary);
    font-weight: 500;
    line-height: 1.2;
}

.description__p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}


@media (orientation: portrait), (max-width: 400px) {
    .page-description {
        margin-top: 90px;
    }

    .description {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .description__h1 {
        font-size: clamp(30px, 3.5vh, 50px);
    }
    
    .description__p {
        font-size: clamp(15px, 2vh, 25px);
    }
}
